body {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-family: 'Comme';
    transition: 1s;
}

.container {
    border: 1px solid grey;
    border-radius: 20px;
    width: 180px;
    display: grid;
    place-items: center;
    padding: 10px 15px;
    background-color: gold;
}

button {
    border-radius: 10px;
    font-family: Montserrat;
    font-weight: bolder;
    margin: 20px 0;
    font-size: larger;
    padding: 5px 10px;
    cursor: pointer;
}